#container {
    background-color: lightgray;
    padding: 10px;
}

.external {
    color: green;
    font-style: italic;
    text-align: center;
}

.ul-nav{
    margin-top: 28px;
    width: 130px;
    list-style-type: none;
    float: right;
}
.ul-nav > li{
    padding: 5px;
}
.ul-nav > li:first-child{
    background-color: #4CAF50;
}

.ul-nav > li > a{
    text-decoration: none;
    color: black;
}
.ul-nav > li:hover:not(:first-child){
    background-color: gray;
}
.ul-nav > li:hover:first-child{
    opacity: 0.8;
}
.ul-nav > li:active{
    opacity: 0.7;
}
.container-jump-button{
    position: relative;
    height: 130px;
}
.jump-button{
    left: 45%;
    padding: 0px;
    border-radius: 3px;
    border: none;
    position: absolute;
    font-size: 30px;
    color: white    ;
    background-color: #768899;
    animation: animate 0.7s infinite;
    cursor: pointer;
}

@keyframes animate{
    0% {bottom: 0px}
    60% {bottom: 70px;}
    70% {bottom: 75px}
    80% {bottom: 80px}
    90% {bottom: 80px}
    100% {bottom: 0px}
}
